
body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    height: 385px;
    /* width: 575px; */
    /* height: 100vh; */
    /* width: 100vw; */
    
}
.score-title{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 0px;
}

.score-box{
    
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}

#score-home, #score-guest{
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 120px;
    color: #F94F6D;
}

.btn-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 155px;
    height: 45px;
}

#home-btn-plusOne, #home-btn-plusTwo, #home-btn-plusThree {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: inherit;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #9AABD8
}

#guest-btn-plusOne, #guest-btn-plusTwo, #guest-btn-plusThree {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: inherit;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #9AABD8
}

#newGame{
    align-self: end;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding: 5px 10px;
    color: #F94F6D;
    background-color: #080001;
    font-weight: bold;
    font-size: 25px;
    border: 0px; 
}

#newGame:hover { 
  transform: scale(1.1);  
 
} 
#newGame:active{
     transform: translateY(5px) scale(1.1);
}